body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
    color: #ffffff;
}
.full {
    background: url(../img/sun.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    cursor: crosshair;
}
.row {
    padding-left: 10rem;
}
.myTemp {
    display: inline-block;
}
button {
    background-color: transparent;
    border: none;
    display: inline-block;
    font-weight: 800;
}
button:focus {
    outline: none;
}
.navbar h1 {
    color: #ffffff;
}

